{% schema %}
{
  "name": "Custom Collection Icons",
  "settings": []
}
{% endschema %}

{% style %}
  .collection__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .collection__icon {
    display: flex;
    align-items: center;
    flex: 1 1 20px;
    margin: 10px;
  }
  .collection__icon img {
    margin-right: 10px;
  }
  .collection__icon p {
    margin: 0;
    text-align: left;
    line-height: 1.2;
  }
  @media (max-width: 768px) {
    .collection__icons {
      flex-direction: column;
    }
    .collection__icon {
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
    .collection__icon img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .collection__icon p {
      font-size: small;
    }
  }
{% endstyle %}
<div class="page-width">
  <div class="collection__icons">
    {% assign measure_icon_shown = false %}
    {% assign motive_icon_shown = false %}
    {% assign color_icon_shown = false %}

    {% for product in collection.products %}
      {% if product.metafields.custom.labels.value != blank %}
        {% if product.metafields.custom.labels.value contains 'Individuelle Maße' and measure_icon_shown == false %}
          <div class="collection__icon">
            <img
              src="{{ 'Icons_Format.png' | file_img_url }}"
              alt="Individuelle Maße"
              class="label-ico"
              width="60"
              height="60"
            >
            <p>
              <b>Individuelle Maße</b><br>
              Motiv und Schnitt werden kostenlos auf Maß angepasst.
            </p>
          </div>
          {% assign measure_icon_shown = true %}
        {% endif %}
        {% if product.metafields.custom.labels.value contains 'Verschiebbare Einzelmotive'
          and motive_icon_shown == false
        %}
          <div class="collection__icon">
            <img
              src="{{ 'Icons_Anpassung.png' | file_img_url }}"
              alt="Verschiebbare Einzelmotive"
              class="label-ico"
              width="60"
              height="60"
            >
            <p>
              <b>Verschiebbare Einzelmotive</b><br>
              Mit diesem Label sind die Einzelelemente verschiebbar.
            </p>
          </div>
          {% assign motive_icon_shown = true %}
        {% endif %}
        {% if product.metafields.custom.labels.value contains 'Auswählbare Farben' and color_icon_shown == false %}
          <div class="collection__icon">
            <img
              src="{{ 'Icons_Farben.png' | file_img_url }}"
              alt="Auswählbare Farben"
              class="label-ico"
              width="60"
              height="60"
            >
            <p>
              <b>Auswählbare Farben</b><br>
              Mit diesem Label kannst du Farben frei wählen.
            </p>
          </div>
          {% assign color_icon_shown = true %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
